body {
    text-align: center;
    background-color:#C5E6F8;
}

.correct {
    color: green;
    font-size: 18pt;
}

.incorrect {
    color: red;
    font-size: 18pt;
}
#submitButton{
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius:12px; 
}