body{
    background-color: black;
    color:white;
    text-align: center;
    padding: 0px;
}
h1{
    color:purple;
}
#but{
   background-color: purple;
   color:white;
}
#pic{
     border-style: dotted;
     border-color: purple;
}
