body{
    text-align: center;
    background-color: darkgrey;
    padding:0px;
    margin: 0px;
    
}
.jumbotron{
    background-color: green;
    outline-color: rgb(201,76,76);
}

name{
    font-weight: bold;
    color: green;
}